


<div class="row">



	<div class= "columns small-6">

    <%= image_tag("trump_final.jpg", size: "800x800") %>
   <%= audio_tag("welcome.m4a", autoplay: true, controls: false) %>

</div>



  <div class="columns small-6">
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
 


     <br>
  
  
  	<h3 class="gold"><center>WANT TO KNOW WHAT TRUMP THINKS OF YOU?</center></h4>
     
    

         <%= render 'form' %>

         <br>
         <br>



         <h2 class="gold"> <center><bold>MAKE AMERICA GRATE AGAIN </bold></center></h4>
      </div>
  

  </div>

