


	
	


<div class="row">




	<div class= "columns large-6">

    <%= image_tag("trump_final.jpg", size: "800x800") %>
 

</div>



  <div class="columns large-6">
  	<br>
  	<br>
  	<br>
  	<br>
  	<h4><center>Want to know what trump thinks of you?</center></h4>

    <!--<form>-->
      <!--<div class="row column log-in-form">-->
         <%= render 'form' %>
      </div>
    <!--</form>-->

  </div>



<%= audio_tag("welcome.m4a", autoplay: true, controls: false) %>
 