

<div class="row">






  <div class= "small-6 columns">
<%= audio_tag("welcome.m4a", autoplay: true, controls: false) %>
<%= image_tag("trump_final.jpg", size: "800x800") %>

  </div>


    <div class="small-6 columns">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
         <%= render 'form' %>
      </div>
  

  </div>
