<center><%= image_tag("trumpbackground.png", size: "200x200") %></center>
<center>

	<h4>Want to know what trump thinks of you?</h4>
	

</center>

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <!--<form>-->
      <!--<div class="row column log-in-form">-->
         <%= render 'form' %>
      </div>
    <!--</form>-->

  </div>
</div>


<%= audio_tag("welcome.m4a", autoplay: true, controls: false) %>
 <center><%= image_tag("trump_family.png", size: "800x800") %></center>
